YTIPOD_DATABASE=/path/to/ytipod/ytipod.db
YTIPOD_DOWNLOAD_DIR=/path/to/ytipod/downloads
YTIPOD_LOG_DIR=/path/to/ytipod/logs
YTIPOD_TEMP_DIR=/path/to/ytipod/tmp
YTIPOD_IPOD_VIDEO_DIR=/media/ipod/Videos
YTIPOD_IPOD_VIDEO_WIDTH=320
YTIPOD_IPOD_VIDEO_HEIGHT=240
YTIPOD_IPOD_VIDEO_FPS=25
YTIPOD_IPOD_VIDEO_BITRATE=700k
YTIPOD_IPOD_AUDIO_BITRATE=128k
YTIPOD_TELEGRAM_TOKEN=<TELEGRAM_BOT_TOKEN>
YTIPOD_TELEGRAM_ALLOWED_CHAT_ID=<TELEGRAM_CHAT_ID>
